body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

/* MAIN DIVS */
header {
  margin: 0.5vh;
  border-radius: 5px;
  opacity: 0.8;
  background-color: rgb(255, 165, 255);
}

#tamer {
  background-color: rgb(165, 165, 255);
  border: solid 1px rgb(165, 165, 255);
  max-height: 300px;
  overflow: scroll;
}

#charListDiv {
  margin: 0.5vh;
  border-radius: 5px;
  opacity: 0.8;
  background-color: rgb(165, 255, 255);
  width: 200px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#creation-div {
  margin: 0.5vh;
  border-radius: 5px;
  opacity: 0.8;
  background-color: rgb(165, 165, 255);
}



/* HEADER */

header h1 {
  margin: 1%;
}



/* CHARACTER LIST */

#listeChars {
  list-style: armenian;
}
#listeChars li {
  cursor: pointer;
  
}

.selected {
  color: red;
  font-weight: bold;
}

.delButt {
  background: crimson;
  float: right;
  margin-right: 15px;
}


/* CREATION SPAN */

#creation-div button {
  margin: 1%;
  border-radius: 5px;
}

#divGeneral {
  display: inline-block;
  margin: 1%;
}

#divGeneral * {
  margin: 0.1%;
}

#divDivinity {
  display: inline-block;
  margin: 1%;
}

#divDivinity * {
  margin: 0.1%;
}

#p1 {
  float: left;
}

#divinity {
  width: 300px;
}

#weaponTab td {
  width: 300px;
}

td input[type="text"] {
  width: 300px;
  max-width: 360px;
}

#statsTab td input{
  float: right;
}

input[type="file"] {
  border-color: rgb(165, 165, 255);
  background-color: rgb(165, 165, 255);
}
